USE [master]
GO
/****** Object:  Database [StudentManagement]    Script Date: 9/20/2022 9:55:13 PM ******/
CREATE DATABASE [StudentManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StudentManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\StudentManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StudentManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\StudentManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StudentManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StudentManagement]
GO
USE [StudentManagement]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 9/20/2022 9:55:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefreshTokens]    Script Date: 9/20/2022 9:55:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefreshTokens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Token] [nvarchar](max) NOT NULL,
	[Created] [datetime2](7) NOT NULL,
	[Expires] [datetime2](7) NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_RefreshTokens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 9/20/2022 9:55:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 9/20/2022 9:55:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/20/2022 9:55:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[PasswordHash] [varbinary](max) NOT NULL,
	[PasswordSalt] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220915021756_create_table_students', N'6.0.9')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220916160903_update_table', N'6.0.9')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220916161121_update_table', N'6.0.9')
GO
SET IDENTITY_INSERT [dbo].[RefreshTokens] ON 

INSERT [dbo].[RefreshTokens] ([Id], [Token], [Created], [Expires], [UserId]) VALUES (345, N'1qjWGFSnaAML3DUVXJlpIWgf6axqAyMxmRtiNfRAS59P2Jc3Hx6xqv/L3ike5YEukxDieBmJVKSPgPZ3ZrnO1Q==', CAST(N'2022-09-17T22:05:53.9375538' AS DateTime2), CAST(N'2022-09-24T22:05:53.9375537' AS DateTime2), 2)
INSERT [dbo].[RefreshTokens] ([Id], [Token], [Created], [Expires], [UserId]) VALUES (346, N'9KYmQmNNqXcYdHMxdEZTyO5VvF8WbfeY1eXp3jGVoaslVDEpafGucqK5p1R02EoadX6yOZsPLMXpVPmaImN51w==', CAST(N'2022-09-17T22:05:53.9528099' AS DateTime2), CAST(N'2022-09-24T22:05:53.9528098' AS DateTime2), 2)
INSERT [dbo].[RefreshTokens] ([Id], [Token], [Created], [Expires], [UserId]) VALUES (347, N'pT0oVpMuhW14zEgiBoMNW0GmWcMvI9rmZjtdi7jX82QA94CPWI+80NtekhF2q/Dywxtugz8uu7iad3+z2V+xTg==', CAST(N'2022-09-17T22:05:53.9686914' AS DateTime2), CAST(N'2022-09-24T22:05:53.9686913' AS DateTime2), 2)
GO
SET IDENTITY_INSERT [dbo].[RefreshTokens] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Name], [UserId]) VALUES (1, N'Admin', 2)
INSERT [dbo].[Roles] ([Id], [Name], [UserId]) VALUES (2, N'User', 2)
INSERT [dbo].[Roles] ([Id], [Name], [UserId]) VALUES (1002, N'Admin', 1006)
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([Id], [FirstName], [LastName], [Email]) VALUES (44, N'dqwddqwdqw', N'dqwdqw', N'dqwdqeqww@gmail.com')
INSERT [dbo].[Students] ([Id], [FirstName], [LastName], [Email]) VALUES (45, N'111111111', N'wqdqwd', N'dqwdqwdqdw@gmail.com')
INSERT [dbo].[Students] ([Id], [FirstName], [LastName], [Email]) VALUES (46, N'12222222e', N'wqdqwd', N'dqwdqwdqdw@gmail.com')
SET IDENTITY_INSERT [dbo].[Students] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [PasswordSalt]) VALUES (1, N'hunght001', 0xFADD76CF0D0AAF9DD9C67AF93B943300740EEA603FC11476BC079473B4F588B1F9D6E297E12B53E02B285F38E6AB14751E34811017ACDF0963BA73ED25ECAAF3, 0x5D786839085B3AA3161496EB39AC53B781A273289AE6769EAD329D7DBEEA5D1ED4ED1172B4C80E567C99EA432EB80DB4E987BE2CD569C67408A2B25058E47519F026C830753DC872205FE75226E1F2F49A05F3E62DF954D7E13840E5CF8F01458BB3CA7A2C3E645FB2B051E01507DBA35E94C5384F2679DADD112A36AD200DBC)
INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [PasswordSalt]) VALUES (2, N'string', 0x9968CC4AC8DF398D3C402DD854539AA08D60F26A538757612C1A9B82C9E0BB281624D6399302F77331393003E20EBE95AB60D3302CA20CFB851CE8360D499DBA, 0xE7CB93F94B47C7235CB141F24642D2D9FA47E0E49D6C2E4F6BCF42318F6B8056317EBF4E5668DE19143F2EE5FF2ED4C0FD6DF69A6B98CD83B9ECCA6976C6692490648797FBDC1726F602D463A40DDD4A5F62E67F2A1ED5DCBB652CDDC29AB069DAA6C3A0E4F8B469C5296FACFB2F05F60ACF674A4624B55320C27ECC31B34DFB)
INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [PasswordSalt]) VALUES (1006, N'admin', 0x6A6B2D04E7C2D0B830D0AC0F7B4AF97D7966A980262EB188EC5451B94F404F9AB9D8219AC2D87071A94117E233DE3F95892CA20A4770EA780A348ABE65F9D5F1, 0x4DBD541F612924FBC3DB62E7B84EAE9D22F80CA2AC025C1B8BDD6B58EEDF50EC1176E5B3D8BE919CBAD1ACFAE059518CD02D27C90F79AFF42ED0A27F652510E8CB639F988F8DDD536A26F453E06616F749B953EE8989617AFD5000938E232238AB71A1D9BC6A3E0437D022BD31ABB8F4E9187E99E2F17832FC044658F32AD14B)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_RefreshTokens_UserId]    Script Date: 9/20/2022 9:55:15 PM ******/
CREATE NONCLUSTERED INDEX [IX_RefreshTokens_UserId] ON [dbo].[RefreshTokens]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Roles_UserId]    Script Date: 9/20/2022 9:55:15 PM ******/
CREATE NONCLUSTERED INDEX [IX_Roles_UserId] ON [dbo].[Roles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RefreshTokens]  WITH CHECK ADD  CONSTRAINT [FK_RefreshTokens_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RefreshTokens] CHECK CONSTRAINT [FK_RefreshTokens_Users_UserId]
GO
ALTER TABLE [dbo].[Roles]  WITH CHECK ADD  CONSTRAINT [FK_Roles_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Roles] CHECK CONSTRAINT [FK_Roles_Users_UserId]
GO
USE [master]
GO
